// 基础色
$base: (
    neutralbase: #fff,
    neutralinvertbase: #000,
    neutraltextbase: #000,
    neutralpopover: #fff,
    neutralcard: #fff,
    neutralmodal: #fff,
    neutralbody: #fff,
    alpha1: 0.82,
    alpha2: 0.72,
    alpha3: 0.38,
    alpha4: 0.24,
    // disabled text, placeholder, icon
    alpha5: 0.18,
    // disabled placeholder
    alphaclose: 0.6,
    alphadisabled: 0.5,
    alphadisabledinput: 0.02,
    alphapending: 0.05,
    alphatablepending: 0.02,
    alphapressed: 0.07,
    alphaavatar: 0.2,
    alpharail: 0.14,
    alphaprogressrail: 0.08,
    alphaborder: 0.12,
    alphadivider: 0.06,
    alphainput: 0,
    alphaaction: 0.02,
    alphatab: 0.04,
    alphascrollbar: 0.25,
    alphascrollbarhover: 0.4,
    alphacode: 0.05,
    alphatag: 0.02,
    // primary
    primaryhover: #36ad6a,
    primarydefault: #18a058,
    primaryactive: #0c7a43,
    primarysuppl: #36ad6a,
    // info
    infohover: #4098fc,
    infodefault: #2080f0,
    infoactive: #1060c9,
    infosuppl: #4098fc,
    // error
    errorhover: #de576d,
    errordefault: #d03050,
    erroractive: #ab1f3f,
    errorsuppl: #de576d,
    // warning
    warninghover: #fcb040,
    warningdefault: #f0a020,
    warningactive: #c97c10,
    warningsuppl: #fcb040,
    // success
    successhover: #36ad6a,
    successdefault: #18a058,
    successactive: #0c7a43,
    successsuppl: #36ad6a,
);
