@use "sass:map";
@import "./common";

body {
    color: $primaryColor;
    font-family: $fontFamily;
    margin: 0;
    font-size: $fontSize;
    line-height: $lineHeight;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
