@import "../../../styles/common";
.n-button {
    background-color: #0000;
    white-space: nowrap;
    position: relative;
    outline: none;
    z-index: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: inherit;
    border: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    border-radius: $borderRadius;
    transition: color 0.3s $cubicBezierEaseInOut, background-color 0.3s $cubicBezierEaseInOut,
        opacity 0.3s $cubicBezierEaseInOut, border-color 0.3s $cubicBezierEaseInOut;
}

.n-tiny {
    height: $heightTiny;
}

.n-small {
    height: $heightSmall;
}

.n-medium {
    height: $heightMedium;
}

.n-large {
    height: $heightLarge;
}

.n-padding-tiny {
    padding: 0 6px;
    font-size: $fontSizeTiny;
}

.n-padding-small {
    padding: 0 10px;
    font-size: $fontSizeSmall;
}

.n-padding-medium {
    padding: 0 14px;
    font-size: $fontSizeMedium;
}

.n-padding-large {
    padding: 0 18px;
    font-size: $fontSizeLarge;
}

.n-strong {
    font-weight: $fontWeightStrong;
}

.n-round {
    border-radius: 34px;
    padding: 0 18px;
}

.n-default-text {
    color: $textColor2;
    &:hover {
        color: $textColor2;
    }
    &:active {
        color: $textColor2;
    }
}

.n-tertiary-text {
    color: $textColor3;
    &:hover {
        color: $textColor3;
    }
    &:active {
        color: $textColor3;
    }
}

.n-primary-text {
    color: $primaryColor;
    &:hover {
        color: $primaryColor;
    }
    &:active {
        color: $primaryColor;
    }
}
.n-info-text {
    color: $infoColor;
    &:hover {
        color: $infoColor;
    }
    &:active {
        color: $infoColor;
    }
}
.n-success-text {
    color: $primaryColor;
    &:hover {
        color: $primaryColor;
    }
    &:active {
        color: $primaryColor;
    }
}
.n-warning-text {
    color: $warningColor;
    &:hover {
        color: $warningColor;
    }
    &:active {
        color: $warningColor;
    }
}
.n-error-text {
    color: $errorColor;
    &:hover {
        color: $errorColor;
    }
    &:active {
        color: $errorColor;
    }
}
.n-default {
    color: $textColor2 !important;
    border: 1px solid rgb(224, 224, 230);
    &:hover {
        color: $primaryColor !important;
        border: 1px solid $primaryColor;
    }

    &:active {
        color: $primaryColorPressed !important;
        border: 1px solid $primaryColorPressed;
    }
}

.n-tertiary {
    color: $textColor3 !important;
    border: 1px solid rgb(224, 224, 230);

    &:hover {
        color: $primaryColor !important;
        border: 1px solid $primaryColor;
    }

    &:active {
        color: $primaryColorPressed !important;
        border: 1px solid $primaryColorPressed;
    }
}
.n-base-text {
    color: $baseColor;
    &:hover {
        color: $baseColor;
    }
    &:active {
        color: $baseColor;
    }
}
.n-primary {
    background-color: $primaryColor;

    &:hover {
        background-color: $primaryColorHover;
    }

    &:active {
        background-color: $primaryColorPressed;
    }
}

.n-info {
    background-color: $infoColor;

    &:hover {
        background-color: $infoColorHover;
    }

    &:active {
        background-color: $infoColorPressed;
    }
}

.n-success {
    background-color: $successColor;

    &:hover {
        background-color: $successColorHover;
    }

    &:active {
        background-color: $successColorPressed;
    }
}

.n-warning {
    background-color: $warningColor;

    &:hover {
        background-color: $warningColorHover;
    }

    &:active {
        background-color: $warningColorPressed;
    }
}

.n-error {
    background-color: $errorColor;

    &:hover {
        background-color: $errorColorHover;
    }

    &:active {
        background-color: $errorColorPressed;
    }
}
.n-secondary {
    border: none;
    &:hover {
        border: none;
    }
    &:active {
        border: none;
    }
}
.n-secondary-default {
    @extend .n-default-text;
    background-color: rgba($color: $buttonColor2, $alpha: 0.05);
    &:hover {
        background-color: rgba($color: $buttonColor2, $alpha: 0.09);
    }
    &:active {
        background-color: rgba($color: $buttonColor2, $alpha: 0.13);
    }
}
.n-secondary-tertiary {
    @extend .n-tertiary-text;
    background-color: rgba($color: $buttonColor2, $alpha: 0.05);
    &:hover {
        background-color: rgba($color: $buttonColor2, $alpha: 0.09);
    }
    &:active {
        background-color: rgba($color: $buttonColor2, $alpha: 0.13);
    }
}
.n-secondary-primary {
    @extend .n-primary-text;
    background-color: rgba($color: $primaryColor, $alpha: 0.16);
    &:hover {
        background-color: rgba($color: $primaryColor, $alpha: 0.22);
    }
    &:active {
        background-color: rgba($color: $primaryColor, $alpha: 0.28);
    }
}

.n-secondary-info {
    @extend .n-info-text;
    background-color: rgba($color: $infoColor, $alpha: 0.16);
    &:hover {
        background-color: rgba($color: $infoColor, $alpha: 0.22);
    }
    &:active {
        background-color: rgba($color: $infoColor, $alpha: 0.28);
    }
}

.n-secondary-success {
    @extend .n-success-text;
    background-color: rgba($color: $successColor, $alpha: 0.16);
    &:hover {
        background-color: rgba($color: $successColor, $alpha: 0.22);
    }
    &:active {
        background-color: rgba($color: $successColor, $alpha: 0.28);
    }
}

.n-secondary-warning {
    @extend .n-warning-text;
    background-color: rgba($color: $warningColor, $alpha: 0.16);
    &:hover {
        background-color: rgba($color: $warningColor, $alpha: 0.22);
    }
    &:active {
        background-color: rgba($color: $warningColor, $alpha: 0.28);
    }
}

.n-secondary-error {
    @extend .n-error-text;
    background-color: rgba($color: $errorColor, $alpha: 0.16);
    &:hover {
        background-color: rgba($color: $errorColor, $alpha: 0.22);
    }
    &:active {
        background-color: rgba($color: $errorColor, $alpha: 0.28);
    }
}

.n-lesser {
    background-color: $buttonColor2;
    border: none;
    &:hover {
        background-color: $buttonColor2Hover;
        border: none;
    }

    &:active {
        background-color: $buttonColor2Pressed;
        border: none;
    }
}

.n-quaternary {
    border: none;
    background-color: #0000;

    &:hover {
        background-color: $buttonColor2Hover;
        border: none;
    }

    &:active {
        background-color: $buttonColor2Pressed;
        border: none;
    }
}
