@import "../../../styles/common";

.n-button {
    @extend .n-cursor-pointer;
    background-color: #0000;
    white-space: nowrap;
    position: relative;
    outline: none;
    z-index: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: inherit;
    border: none;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border-radius: $borderRadius;
    transition:
        color 0.3s $cubicBezierEaseInOut,
        background-color 0.3s $cubicBezierEaseInOut,
        opacity 0.3s $cubicBezierEaseInOut,
        border-color 0.3s $cubicBezierEaseInOut,
        width 0.3s $cubicBezierEaseInOut,
        height 0.3s $cubicBezierEaseInOut;
    .icon {
        margin-right: 6px;
    }
}
.n-cursor-pointer {
    cursor: pointer;
}
.n-loading {
    cursor: wait;
}
// 尺寸
@each $name, $height, $paddingVertical,
    $fontType
        in (
            ("tiny", $heightTiny, 6px, $fontSizeTiny),
            ("small", $heightSmall, 10px, $fontSizeSmall),
            ("medium", $heightMedium, 14px, $fontSizeMedium),
            ("large", $heightLarge, 18px, $fontSizeLarge)
        )
{
    .n-#{$name} {
        height: #{$height};
    }
    .n-padding-#{$name} {
        padding: 0 #{$paddingVertical};
        font-size: #{$fontType};
    }
}
.n-strong {
    font-weight: $fontWeightStrong;
}

.n-round {
    border-radius: 34px;
    padding: 0 18px;
}
.n-disabled {
    opacity: $opacityDisabled;
    pointer-events: none;
}
.n-no-border {
    border: none !important;
}
.n-base-text {
    color: $baseColor !important;
    &:hover {
        color: $baseColor !important;
    }
    &:active,
    &:focus {
        color: $baseColor !important;
    }
}
.n-text {
    @extend .n-cursor-pointer;
    color: $textColor2;
}
// text-type
.n-text-default,
.n-text-tertiary,
.n-text-primary {
    @extend .n-text;
    &:hover {
        color: $primaryColorHover !important;
    }
    &:active {
        color: $primaryColorPressed !important;
    }
    &:focus {
        color: $primaryColorSuppl !important;
    }
}
@each $name, $hoverColor, $activeColor,
    $supplyColor
        in (
            ("info", $primaryColorHover, $primaryColorPressed, $primaryColorSuppl),
            ("success", $successColorHover, $successColorPressed, $successColorSuppl),
            ("warning", $warningColorHover, $warningColorPressed, $warningColorSuppl),
            ("error", $errorColorHover, $errorColorPressed, $errorColorSuppl)
        )
{
    .n-text-#{$name} {
        @extend .n-text;
        &:hover {
            color: #{$hoverColor} !important;
        }
        &:active {
            color: #{$activeColor} !important;
        }
        &:focus {
            color: #{$supplyColor} !important;
        }
    }
}
// link
.n-link {
    @extend .n-cursor-pointer;
    &:hover {
        text-decoration: underline;
    }
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

@each $name, $color, $hoverColor, $activeColor,
    $supplyColor
        in (
            ("default", $textColor2, $primaryColorHover, $primaryColorPressed, $primaryColorSuppl),
            ("tertiary", $textColor3, $primaryColorHover, $primaryColorPressed, $primaryColorSuppl),
            ("primary", $primaryColor, $primaryColorHover, $primaryColorPressed, $primaryColorSuppl),
            ("info", $infoColor, $infoColorHover, $infoColorPressed, $infoColorSuppl),
            ("success", $successColor, $successColorHover, $successColorPressed, $successColorSuppl),
            ("warning", $warningColor, $warningColorHover, $warningColorPressed, $warningColorSuppl),
            ("error", $errorColor, $errorColorHover, $errorColorPressed, $errorColorSuppl)
        )
{
    .n-link-#{$name} {
        @extend .n-link;
        color: #{$color};
        &:hover {
            color: #{$hoverColor};
        }
        &:active {
            color: #{$activeColor};
        }
        &:focus {
            color: #{$supplyColor};
        }
    }
}
// text
@each $name, $color, $hoverColor, $activeColor,
    $supplyColor
        in (
            ("default", $textColor2, $textColor2, $textColor2, $textColor2),
            ("tertiary", $textColor3, $textColor3, $textColor3, $textColor3),
            ("primary", $primaryColor, $primaryColor, $primaryColor, $primaryColor),
            ("info", $infoColor, $infoColor, $infoColor, $infoColor),
            ("success", $successColor, $successColor, $successColor, $successColor),
            ("warning", $warningColor, $warningColor, $warningColor, $warningColor),
            ("error", $errorColor, $errorColor, $errorColor, $errorColor)
        )
{
    .n-#{$name}-text {
        color: #{$color};
        &:hover {
            color: #{$hoverColor};
        }
        &:active {
            color: #{$activeColor};
        }
        &:focus {
            color: #{$supplyColor};
        }
    }
}

.n-default {
    color: $textColor2 !important;
    border: 1px solid rgb(224, 224, 230);
    &:hover {
        color: $primaryColor !important;
        border: 1px solid $primaryColor;
    }

    &:active {
        color: $primaryColorPressed !important;
        border: 1px solid $primaryColorPressed;
    }

    &:focus {
        color: $primaryColorSuppl !important;
        border: 1px solid $primaryColorSuppl;
    }
}

.n-tertiary {
    color: $textColor3 !important;
    border: 1px solid rgb(224, 224, 230);

    &:hover {
        color: $primaryColor !important;
        border: 1px solid $primaryColor;
    }

    &:active {
        color: $primaryColorPressed !important;
        border: 1px solid $primaryColorPressed;
    }
    &:focus {
        color: $primaryColorSuppl !important;
        border: 1px solid $primaryColorSuppl;
    }
}
// common
@each $name, $color, $hoverColor, $activeColor,
    $supplyColor
        in (
            ("primary", $primaryColor, $primaryColorHover, $primaryColorPressed, $primaryColorSuppl),
            ("info", $infoColor, $infoColorHover, $infoColorPressed, $infoColorSuppl),
            ("success", $successColor, $successColorHover, $successColorPressed, $successColorSuppl),
            ("warning", $warningColor, $warningColorHover, $warningColorPressed, $warningColorSuppl),
            ("error", $errorColor, $errorColorHover, $errorColorPressed, $errorColorSuppl)
        )
{
    .n-#{$name} {
        background-color: #{$color};
        &:hover {
            background-color: #{$hoverColor};
        }
        &:active {
            background-color: #{$activeColor};
        }
        &:focus {
            background-color: #{$supplyColor};
        }
    }
}

// secondary
.n-secondary {
    border: none;
    &:hover {
        border: none;
    }
    &:active,
    &:focus {
        border: none;
    }
}
.n-secondary-default {
    @extend .n-default-text;
    background-color: rgba($color: $buttonColor2, $alpha: 0.05);
    &:hover {
        background-color: rgba($color: $buttonColor2, $alpha: 0.09);
    }
    &:active,
    &:focus {
        background-color: rgba($color: $buttonColor2, $alpha: 0.13);
    }
}
.n-secondary-tertiary {
    @extend .n-tertiary-text;
    background-color: rgba($color: $buttonColor2, $alpha: 0.05);
    &:hover {
        background-color: rgba($color: $buttonColor2, $alpha: 0.09);
    }
    &:active,
    &:focus {
        background-color: rgba($color: $buttonColor2, $alpha: 0.13);
    }
}
@each $name, $color, $hoverColor, $activeColor,
    $supplyColor
        in (
            (
                "primary",
                rgba($primaryColor, 0.16),
                rgba($primaryColorHover, 0.22),
                rgba($primaryColorPressed, 0.28),
                rgba($primaryColorSuppl, 0.22)
            ),
            (
                "info",
                rgba($infoColor, 0.16),
                rgba($infoColorHover, 0.22),
                rgba($infoColorPressed, 0.28),
                rgba($infoColorSuppl, 0.22)
            ),
            (
                "success",
                rgba($successColor, 0.16),
                rgba($successColorHover, 0.22),
                rgba($successColorPressed, 0.28),
                rgba($successColorSuppl, 0.22)
            ),
            (
                "warning",
                rgba($warningColor, 0.16),
                rgba($warningColorHover, 0.22),
                rgba($warningColorPressed, 0.28),
                rgba($warningColorSuppl, 0.22)
            ),
            (
                "error",
                rgba($errorColor, 0.16),
                rgba($errorColorHover, 0.22),
                rgba($errorColorPressed, 0.28),
                rgba($errorColorSuppl, 0.22)
            )
        )
{
    .n-secondary-#{$name} {
        @extend .n-#{$name}-text;
        background-color: #{$color};
        &:hover {
            background-color: #{$hoverColor};
        }
        &:active {
            background-color: #{$activeColor};
        }
        &:focus {
            background-color: #{$supplyColor};
        }
    }
}

.n-lesser {
    background-color: $buttonColor2;
    border: none;
    &:hover {
        background-color: $buttonColor2Hover;
        border: none;
    }

    &:active,
    &:focus {
        background-color: $buttonColor2Pressed;
        border: none;
    }
}

.n-quaternary {
    border: none;
    background-color: #0000;

    &:hover {
        background-color: $buttonColor2Hover;
        border: none;
    }

    &:active,
    &:focus {
        background-color: $buttonColor2Pressed;
        border: none;
    }
}

// dashed
.n-dashed {
    background-color: #0000;
    &:hover {
        background-color: #0000;
    }
    &:active,
    &:focus {
        background-color: #0000;
    }
}

.n-dashed-default {
    border: 1px dashed $borderColor;
    &:hover {
        border: 1px dashed $primaryColorHover;
    }
    &:active,
    &:focus {
        border: 1px dashed $primaryColorHover;
    }
}

@each $name,
    $color
        in (
            ("primary", $primaryColor),
            ("info", $infoColor),
            ("success", $successColor),
            ("warning", $warningColor),
            ("error", $errorColor)
        )
{
    .n-dashed-#{$name} {
        border: 1px dashed #{$color};
    }
    .n-ghost-#{$name} {
        border: 1px solid #{$color};
    }
}

.n-ghost {
    background-color: #0000;
    &:hover {
        background-color: #0000;
    }
    &:active,
    &:focus {
        background-color: #0000;
    }
}

.n-ghost-default {
    border: 1px solid $borderColor;
    &:hover {
        border: 1px solid $primaryColorHover;
    }
    &:active,
    &:focus {
        border: 1px solid $primaryColorHover;
    }
}

.n-button-group {
    display: flex;
    flex-direction: row;
}
.n-button-group-vertical {
    flex-direction: column;
}
