@import "../../../styles/common";
.n-button {
    background-color: #0000;
    white-space: nowrap;
    position: relative;
    outline: none;
    z-index: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: inherit;
    border: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    border-radius: $borderRadius;
    transition: color 0.3s $cubicBezierEaseInOut, background-color 0.3s $cubicBezierEaseInOut,
        opacity 0.3s $cubicBezierEaseInOut, border-color 0.3s $cubicBezierEaseInOut;
}

.n-tiny {
    height: $heightTiny;
}

.n-small {
    height: $heightSmall;
}

.n-medium {
    height: $heightMedium;
}

.n-large {
    height: $heightLarge;
}

.n-padding-tiny {
    padding: 0 6px;
    font-size: $fontSizeTiny;
}

.n-padding-small {
    padding: 0 10px;
    font-size: $fontSizeSmall;
}

.n-padding-medium {
    padding: 0 14px;
    font-size: $fontSizeMedium;
}

.n-padding-large {
    padding: 0 18px;
    font-size: $fontSizeLarge;
}

.n-strong{
    font-weight: $fontWeightStrong;
}

.n-round{
    border-radius: 34px;
    padding: 0 18px;
}

.n-default {
    border: 1px solid rgb(224, 224, 230);

    &:hover {
        color: $primaryColor;
        border: 1px solid $primaryColor;
    }

    &:active {
        color: $primaryColorPressed;
        border: 1px solid $primaryColorPressed;
    }
}

.n-tertiary {
    color: $textColor3;
    border: 1px solid rgb(224, 224, 230);

    &:hover {
        color: $primaryColor;
        border: 1px solid $primaryColor;
    }

    &:active {
        color: $primaryColorPressed;
        border: 1px solid $primaryColorPressed;
    }
}

.n-primary {
    color: $baseColor;
    background-color: $primaryColor;

    &:hover {
        background-color: $primaryColorHover;
    }

    &:active {
        background-color: $primaryColorPressed;
    }
}

.n-info {
    color: $baseColor;
    background-color: $infoColor;

    &:hover {
        background-color: $infoColorHover;
    }

    &:active {
        background-color: $infoColorPressed;
    }
}

.n-success {
    color: $baseColor;
    background-color: $successColor;

    &:hover {
        background-color: $successColorHover;
    }

    &:active {
        background-color: $successColorPressed;
    }
}

.n-warning {
    color: $baseColor;
    background-color: $warningColor;

    &:hover {
        background-color: $warningColorHover;
    }

    &:active {
        background-color: $warningColorPressed;
    }
}

.n-error {
    color: $baseColor;
    background-color: $errorColor;

    &:hover {
        background-color: $errorColorHover;
    }

    &:active {
        background-color: $errorColorPressed;
    }
}
.n-secondary{
    border: none;
    &:hover{
        border: none;
    }
    &:active{
        border:none;
    }
}
.n-secondary-default{
    background-color: rgba($color: $buttonColor2, $alpha: 0.05);
    color: $textColor2;
    &:hover{
        background-color: rgba($color: $buttonColor2, $alpha: 0.09);
        color: $textColor2;
    }
    &:active{
        background-color: rgba($color: $buttonColor2, $alpha: 0.13);
        color: $textColor2;
    }
}
.n-secondary-tertiary{
    background-color: rgba($color: $buttonColor2, $alpha: 0.05);
    color: $textColor3;
    &:hover{
        background-color: rgba($color: $buttonColor2, $alpha: 0.09);
        color: $textColor3;
    }
    &:active{
        background-color: rgba($color: $buttonColor2, $alpha: 0.13);
        color: $textColor3;
    }
}
.n-secondary-primary{
    background-color: rgba($color: $primaryColor, $alpha: 0.16);
    color: $primaryColor;
    &:hover{
        background-color: rgba($color: $primaryColor, $alpha: 0.22);
        color: $primaryColor;
    }
    &:active{
        background-color: rgba($color: $primaryColor, $alpha: 0.28);
        color: $primaryColor;
    }
}

.n-secondary-info{
    background-color: rgba($color: $infoColor, $alpha: 0.16);
    color: $infoColor;
    &:hover{
        background-color: rgba($color: $infoColor, $alpha: 0.22);
        color: $infoColor;
    }
    &:active{
        background-color: rgba($color: $infoColor, $alpha: 0.28);
        color: $infoColor;
    }
}

.n-secondary-success{
    background-color: rgba($color: $successColor, $alpha: 0.16);
    color: $successColor;
    &:hover{
        background-color: rgba($color: $successColor, $alpha: 0.22);
        color: $successColor;
    }
    &:active{
        background-color: rgba($color: $successColor, $alpha: 0.28);
        color: $successColor;
    }
}

.n-secondary-warning{
    background-color: rgba($color: $warningColor, $alpha: 0.16);
    color: $warningColor;
    &:hover{
        background-color: rgba($color: $warningColor, $alpha: 0.22);
        color: $warningColor;
    }
    &:active{
        background-color: rgba($color: $warningColor, $alpha: 0.28);
        color: $warningColor;
    }
}

.n-secondary-error{
    background-color: rgba($color: $errorColor, $alpha: 0.16);
    color: $errorColor;
    &:hover{
        background-color: rgba($color: $errorColor, $alpha: 0.22);
        color: $errorColor;
    }
    &:active{
        background-color: rgba($color: $errorColor, $alpha: 0.28);
        color: $errorColor;
    }
}
